/*

MEDIUM SCREEN

*/

@mixin triangle_look_medium($color, $direction) {
    width: 0;
    height: 0;
    border-right: 40px solid transparent;
    border-left: 40px solid transparent;
    border-#{$direction}: 30px solid $color;
    margin: auto;
}

@mixin button_look_medium($direction) {
    background-color: #a39c9c;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 120px;
    transform: rotate(-90deg);
    position: absolute;
    #{$direction}: 50px;
    top: 340px;
    z-index: 2;
}

@media (min-width: 601px) and (max-width: 900px) {

    header {
        background-color: #003300;
        font-size: 40px;
        border-radius: 0 0 5px 5px;
        padding: 15px 0 0 20px;
        margin: 0;
    }

    .slider_small {
        display: none;
    }

    .slider_large {
        display: none;
    }

    .slider_select {
        background-color: #FFC404;
        color: black;
        font-size: 24px;
        border-radius: 0 0 5px 5px;
        text-align: center;
    }

    .main_section_medium {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 500px;

        .slider_list_medium {
            overflow: hidden;
            position: relative;
            height: 450px;
            width: 900px;
            display: flex;
            align-items: center;

            .list_elements_medium {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 200px;
                width: 100%;
                left: -75px;

                .slider_element_medium {
                    background-color: gray;
                    height: 250px;
                    border-radius: 5px;
                    opacity: 0.5;
                    text-align: center;
                    display: flex;
                    justify-content: space-around;
                    flex-direction: column-reverse;
                    align-items: center;
                    z-index: 0;

                    .list_img_medium {
                        height: 180px;
                        width: 350px;
                    }

                    .list_text_medium {
                        font-size: 25px;
                        margin: 0;
                    }
                }
            }
        }
    }



    .large_img_medium {
        animation: darking 1.5s 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        margin: 0;
    }
    @keyframes darking {
        0% {
            opacity: 0.5;
            transform: scale(1);
        }

        100% {
            opacity: 1;
            transform: scale(1.6);
            z-index: 1;
        }
    }

    .small_img_medium {
        animation: lighting 1.5s 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;

    }
    @keyframes lighting {
        0% {
            opacity: 1;
            transform: scale(1.6);
        }

        100% {
            opacity: 0.5;
            transform: scale(1);
        }
    }

    .go_left {
        @include button_look_medium(left);
    }

    .go_left_alternate {
        @include button_look_medium(left);
    }

    .go_right {
        @include button_look_medium(right);
    }

    .go_right_alternate {
        @include button_look_medium(right);
    }

    .triangle_top {
        @include triangle_look_medium(#636363, bottom);
    }

    .triangle_top_alternate {
        @include triangle_look_medium(#FFC404, bottom);
    }

    .triangle_bottom {
        @include triangle_look_medium(#636363, top);
    }

    .triangle_bottom_alternate {
        @include triangle_look_medium(#FFC404, top);
    }

    .hide_me {
        display: none;
    }
}
