/*

SASS

*/

body {
    background-color: white;
    color: #FFC404;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    body {
        background-color: white;
    }
    header {
        background-color: #0b0a0a;
        width: 100%;
        font-size: 35px;
        text-align: center;
        border-radius: 0 0 5px 5px;
        padding-top: 5px;
    }
    .slider_button {
        background-color: #a39c9c;
        margin: 10px 110px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        min-width: 90px;
    }
    // .go_top_alternate {
    //     display: none;
    // }
    .triangle_top {
        width:0px;
        height:0px;
        border-right:40px solid transparent;
        border-left:40px solid transparent;
        border-bottom:30px solid #636363;
        margin: auto;
    }
    .triangle_top_alternate {
        width:0px;
        height:0px;
        border-right:40px solid transparent;
        border-left:40px solid transparent;
        border-bottom:30px solid #FFC404;
        margin: auto;
    }
    .slider_select {
        background-color: #FFC404;
        color: black;
        font-size: 20px;
        margin: 0 60px;
        border-radius: 0 0 5px 5px;
        text-align: center;
    }
    .slider_list {
        overflow: hidden;
        position: relative;
    }
    .list_elements {
        position: relative;
        height: 440px;
        transform: 2s;

    }
    .slider_element {
        background-color: gray;
        margin: 10px 50px;
        height: 140px;
        border-radius: 5px;
        opacity: 0.5;
        z-index: 0;
        text-align: center;
    }
    .list_img {
        // float: left;
        width: 90px;
        height: 135px;
        display: inline-block;
        margin-left: 5px;
    }
    .list_text {
        display: inline-block;
        width: 50px;
        // display: table-cell;
        // padding: 0 50px;
    }
    .large_img {
        animation: darking 2s 1;
        animation-fill-mode: forwards;
    }
    @keyframes darking {
    0% {
        opacity: 0.5;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1.3);
    }
    }
    .small_img {
        animation: lighting 2s 1;
        animation-fill-mode: forwards;
    }
    @keyframes lighting {
    0% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 0.5;
        transform: scale(1);
    }
    }
    .hide_me {
        display: none;
    }
    .translate_top {
        // transform: translateY(' + (-j+2) * 150 + 'px);
        transform: 2s;
    }
    .translate_bottom {
        // transform: translateY(' + j * (-150) + 'px);
        transition: 2s;
    }
    .triangle_bottom {
        width: 0px;
        height:0px;
        border-right:40px solid transparent;
        border-left:40px solid transparent;
        border-top:30px solid #636363;
        margin: auto;
    }
    .triangle_bottom_alternate {
        width: 0px;
        height:0px;
        border-right:40px solid transparent;
        border-left:40px solid transparent;
        border-top:30px solid #FFC404;
        margin: auto;
    }
}
