/*

SASS

*/
body {
    background-color: black;
    height: 100vh;
    color: #FFC404;
    font-family: 'Baloo Chettan', cursive;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header_text {
    margin: 0;
    float: left;
}

.secret_cross {
    background-image: url('../img/error.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    left: 0;
    margin: 0 93%;
    z-index: 3;
}
@import 'small_screen'; // to 600px

@import 'medium_screen'; // from 601px to 900px

@import 'big_screen'; // from 901px
